[user]
  name = 
  email = 

[alias]
  a = add
  b = branch
  c = commit
  co = checkout
  d = diff
  e = add --edit
  f = fetch
  g = grep
  h = help
  i = init
  l = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ll = log --stat
  m = merge
  r = remote
  s = status --branch --short
  t = tag
  w = whatchanged

[core]
  excludesfile = ~/.gitignore
  editor = vim

[color]
  ui = always
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[merge]
  tool = vimdiff

[push]
  default = upstream
